{% extends 'base.html.twig' %}

{% block title %}New Prescription{% endblock %}

{% block body %}
<h1><span class="fa fa-stethoscope" aria-hidden="true"></span>Create new Prescription</h1>

    {{ include('prescription/_form.html.twig') }}
<div class="login-icon ml-2">
    <a class="" href="{{ path('prescription_index') }}"> back to list </a>
</div>
{% endblock %}
