{% extends 'base.html.twig' %}

{% block title %}Edit Facture{% endblock %}

{% block body %}
<h1><span class="fa fa-stethoscope" aria-hidden="true"></span>Edit Facture</h1>


    {{ include('facture/_form.html.twig', {'button_label': 'Update'}) }}

<div class="login-icon ml-2">
    <a class="" href="{{ path('facture_index') }}"> back to list </a>
</div>

    {{ include('facture/_delete_form.html.twig') }}
{% endblock %}
